.question {
    background-color: #333333;
    .black {
        background-color: #333333;
        color: #ffffff;
        font-size: 20px;
    }
    .toggle-checked {
    background-color: #ffb612;
}
}