<ion-header>
  <ion-navbar>
    <ion-title>General Medical Questions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="questions">
    

  <ion-card>
    <ion-card-content>
        What is your current occupation?
        <ion-item>
        <ion-textarea *ngIf="occupation" [(ngModel)]="msg" placeholder="Current Occupation"></ion-textarea>
        </ion-item>
        <ion-item>
        <ion-toggle [(ngModel)]="occupation"></ion-toggle>
    </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
    Does your occupation require extended periods of sitting?
    <ion-item>
        <ion-toggle [(ngModel)]="sitting"></ion-toggle>
    </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
        Does your occupation require extended periods of repetitive movements? (If yes, please explain.) 
        <ion-item>
        <ion-textarea *ngIf="repetitive" [(ngModel)]="msg" placeholder="Please explain"></ion-textarea>
        </ion-item>
        <ion-item>
        <ion-toggle [(ngModel)]="repetitive"></ion-toggle>
    </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
    Does your occupation require you to wear shoes with a heel (dress shoes)? 
    <ion-item>
        <ion-toggle [(ngModel)]="dress"></ion-toggle>
    </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
    Does your occupation cause you anxiety (mental stress)? 
    <ion-item>
        <ion-toggle [(ngModel)]="anxiety"></ion-toggle>
    </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
        Do you partake in any recreational activities (golf, tennis, skiing, etc.)? (If yes, please explain.)  
        <ion-item>
        <ion-textarea *ngIf="recreational" [(ngModel)]="msg" placeholder="Please explain"></ion-textarea>
        </ion-item>
        <ion-item>
        <ion-toggle [(ngModel)]="recreational"></ion-toggle>
    </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
        Do you have any hobbies (reading, gardening, working on cars, exploring the Internet, etc.)? (If yes, please explain.)   
        <ion-item>
        <ion-textarea *ngIf="hobbies" [(ngModel)]="msg" placeholder="Please explain"></ion-textarea>
        </ion-item>
        <ion-item>
        <ion-toggle [(ngModel)]="hobbies"></ion-toggle>
    </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
        Have you ever had any pain or injuries (ankle, knee, hip, back, shoulder, etc.)? (If yes, please explain.)    
        <ion-item>
        <ion-textarea *ngIf="injuries" [(ngModel)]="msg" placeholder="Please explain"></ion-textarea>
        </ion-item>
        <ion-item>
        <ion-toggle [(ngModel)]="injuries"></ion-toggle>
    </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
        Have you ever had any surgeries? (If yes, please explain.)    
        <ion-item>
        <ion-textarea *ngIf="surgeries" [(ngModel)]="msg" placeholder="Please explain"></ion-textarea>
        </ion-item>
        <ion-item>
        <ion-toggle [(ngModel)]="surgeries"></ion-toggle>
    </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
        Has a medical doctor ever diagnosed you with a chronic disease, such as
        coronary heart disease, coronary artery disease, hypertension (high blood pressure), high cholesterol or diabetes? (If yes, please explain.) 
        <ion-item>
        <ion-textarea *ngIf="disease" [(ngModel)]="msg" placeholder="Please explain"></ion-textarea>
        </ion-item>
        <ion-item>
        <ion-toggle [(ngModel)]="disease"></ion-toggle>
    </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
        Are you currently taking any medication? (If yes, please list.)  
        <ion-item>
        <ion-textarea *ngIf="medication" [(ngModel)]="msg" placeholder="Please explain"></ion-textarea>
        </ion-item>
        <ion-item>
        <ion-toggle [(ngModel)]="medication"></ion-toggle>
    </ion-item>

    </ion-card-content>
  </ion-card>

  <button (click)="GoToLoginPage()" class="toggle-checked" full>Submit</button>

</ion-content>